<template>
  <v-container>
<!--    <div>-->
<!--      <p>My name is {{name}}</p>-->
<!--      <button @click="changeName()">Change my name!</button>-->
<!--    </div>-->
<!--    <ul v-for="i in 100">-->
<!--      <li>x</li>-->
<!--    </ul>-->
      <v-layout row>
        <v-flex xs12 md6>
          <v-card tile flat>
            <v-card-text>
              <div style="background-color: red; height: 800px;"></div>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs6 hidden-sm-and-down>
          <v-layout row wrap>
            <v-flex v-for="i in 6" :key="`6${i}`" sm6>
              <v-card tile flat>
                <v-card-text>
                  <div style="background-color: pink; height: 245px;"></div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    <p>My name is {{name}}</p>
    <button @click="changeName()">Change my name!</button>
  </v-container>
</template>

<script>
  export default {
    data() {
      return {
        name: 'Flavio'
      }
    },
    methods: {
      changeName: function() {
        this.name = 'Flavius'
      }
    }

  }
</script>

<style>
</style>
